/*--------head------------*/
.head {
  padding: 20px 0;
  color: #272828;
}
.logo h1 {
  font-size: 30px;
  font-weight: 600;
}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 30px;
}
header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding: 30px 20px;
}
header ul li a {
  color: #464545;
  font-weight: 500;
  font-size:17px;
  transition: 0.5s;
}
header ul li a:hover {
  color: #1eb2a6;
}
.start {
  background-color: #1eb2a6;
  padding: 30px 70px;
  color: #000000;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
}
.toggle {
  display: none;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  header {
    margin: 0;
    background-color: #1eb2a6;
    position: relative;
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100%;
    background-color: #1eb2a6;
  }
}
/* Enhanced blinking effect with size and color change */
.blinking-text {
  animation: blinking 2.5s infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
    transform: scale(1);
    color: #ff0000; /* Start color */
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1); /* Slight size increase */
    color: #cb0808; /* Midpoint color */
  }
  100% {
    opacity: 2;
    transform: scale(1);
    color: #000000; /* End color */
  }
}
